/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@import './index.css';

@theme {
	--breakpoint-2xl: 90rem;

	--spacing: 1vmin;
}

::-webkit-scrollbar {
	width: 1.5vmin;
}

::-webkit-scrollbar-thumb {
	border: 0.5vmin solid transparent;
	border-radius: 39vmin;

	background-clip: padding-box;
	background-color: #7d7d7d;

	@variant dark {
		background-color: #a9a9a9;
	}
}

::-webkit-scrollbar-thumb:hover {
	border-width: 0.3vmin;
}

code, kbd, samp, pre, body {
	font-family: 'JetBrains Mono', monospace;
}

a {
	outline-width: 0.3vmin;
	border-radius: 0.2vmin;
}

button {
	outline-width: 0.3vmin;
	border-radius: 0.5vmin;
}

@utility border-* {
	border-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility border-x-* {
	border-inline-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility border-y-* {
	border-block-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility border-t-* {
	border-top-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility border-r-* {
	border-right-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility border-b-* {
	border-bottom-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility border-l-* {
	border-left-width: calc(--value(integer) * var(--spacing) / 10);
}

@utility shadow-rb {
	box-shadow: 0 0.4vmin 0.6vmin -0.1vmin rgb(0 0 0 / 0.1),
		    0 0.2vmin 0.4vmin -0.2vmin rgb(0 0 0 / 0.1);
}

.dashed-strip {
	--ds-line-color: var(--color-xneu-300);

	@variant dark {
		--ds-line-color: var(--color-xneu-800);
	}

	--ds-line-mix: in oklab, var(--ds-line-color);
	--ds-line-c1: color-mix(var(--ds-line-mix) 100%, transparent);
	--ds-line-c2: color-mix(var(--ds-line-mix) 82%,  transparent);
	--ds-line-c3: color-mix(var(--ds-line-mix) 64%,  transparent);
	--ds-line-c4: color-mix(var(--ds-line-mix) 48%,  transparent);
	--ds-line-c5: color-mix(var(--ds-line-mix) 36%,  transparent);
	--ds-line-c6: color-mix(var(--ds-line-mix) 28%,  transparent);

	--ds-line-t0: transparent 1.6vmin, transparent 3.2vmin;
	--ds-line-t1: var(--ds-line-c1) 0, var(--ds-line-c1) 1.6vmin;
	--ds-line-t2: var(--ds-line-c2) 0, var(--ds-line-c2) 1.6vmin;
	--ds-line-t3: var(--ds-line-c3) 0, var(--ds-line-c3) 1.6vmin;
	--ds-line-t4: var(--ds-line-c4) 0, var(--ds-line-c4) 1.6vmin;
	--ds-line-t5: var(--ds-line-c5) 0, var(--ds-line-c5) 1.6vmin;
	--ds-line-t6: var(--ds-line-c6) 0, var(--ds-line-c6) 1.6vmin;

	--ds-line-1: to bottom, var(--ds-line-t1), var(--ds-line-t0);
	--ds-line-2: to bottom, var(--ds-line-t2), var(--ds-line-t0);
	--ds-line-3: to bottom, var(--ds-line-t3), var(--ds-line-t0);
	--ds-line-4: to bottom, var(--ds-line-t4), var(--ds-line-t0);
	--ds-line-5: to bottom, var(--ds-line-t5), var(--ds-line-t0);
	--ds-line-6: to bottom, var(--ds-line-t6), var(--ds-line-t0);

	background-image: repeating-linear-gradient(var(--ds-line-1)),
			  repeating-linear-gradient(var(--ds-line-2)),
			  repeating-linear-gradient(var(--ds-line-3)),
			  repeating-linear-gradient(var(--ds-line-4)),
			  repeating-linear-gradient(var(--ds-line-5)),
			  repeating-linear-gradient(var(--ds-line-6));

	background-size: 0.4vmin 100%;
	background-repeat: no-repeat;

	background-position: 11vmin, 31vmin,  53vmin,
			     77vmin, 104vmin, 133vmin;

	@variant 2xl {
		background-position: 19vmin,  43vmin,  69vmin,
				     98vmin, 130vmin, 166vmin;
	}
}

@keyframes scroll-stars {

from {
	transform: translate3d(0, 0, 0);
}

to {
	transform: translate3d(5vmax, -5vmax, 0);
}

} /* scroll-stars */

.star-strip {
	position: absolute;
	top: 0;
	left: -5vmax;

	background-image: url('/star-strip.png');
	background-size: 10vmax auto;

	width: 110vmax;
	height: 110%;

	opacity: 30%;

	@variant light {
		filter: invert(100%);
	}

	@variant motion-safe {
		animation: scroll-stars 5s linear infinite;
		will-change: transform;
	}
}
