/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@import './index.css';

@theme {
	--spacing: 1vmin;
}

.strip-bg {
	background-image: repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin);

	background-size: 0.4vmin 100%;
	background-repeat: no-repeat;

	background-position: 11vmin, 31vmin,  53vmin,
			     77vmin, 104vmin, 133vmin;

	@variant 2xl {
		background-position: 8vmin,  32vmin,  58vmin,
				     87vmin, 119vmin, 155vmin;
	}
}

::-webkit-scrollbar {
	width: 2vmin;
}

::-webkit-scrollbar-thumb {
	border: 0.7vmin solid transparent;
	border-radius: 39vmin;

	background-clip: padding-box;
	background-color: #7d7d7d;

	@variant dark {
		background-color: #a9a9a9;
	}
}

::-webkit-scrollbar-thumb:hover {
	border-width: 0.6vmin;
}
