/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@import './index.css';

.strip-bg {
	background-image: repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin),
			  repeating-linear-gradient(to bottom,
						    #ffffff0d 0,
						    #ffffff0d 1.6vmin,
						    transparent 1.6vmin,
						    transparent 3.2vmin);

	background-size: 0.4vmin 100%;
	background-repeat: no-repeat;

	@apply bg-position-[20vmin,43vmin,71vmin]
	       xl:bg-position-[11vmin,24vmin,39vmin,55vmin,72vmin,92vmin];
}

::-webkit-scrollbar {
	width: 1vmin;
}

::-webkit-scrollbar-thumb {
	border: 0.3vmin solid transparent;
	background-clip: padding-box;
	border-radius: 39vmin;

	@apply bg-[#7d7d7d] dark:bg-[#a9a9a9];
}

::-webkit-scrollbar-thumb:hover {
	border-width: 0.2vmin;
}
